:root{
    /* Primary Color */
    --Strong-Cyan : hsl(171, 66%, 44%);
    --Light-Blue :  hsl(233, 100%, 69%);

    /* Neutral Color */
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);

    /* Font Family */
    --Bai-Jamjuree:  "Bai Jamjuree", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--Bai-Jamjuree);
}

.hero{
    background-image: url(./images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 95svh;
}

.hero-content{
    max-width: 425px;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding-top: 100px;
    text-align: center;
}

.hero-content h1{
    padding-inline: 55px;
    color: var(--Dark-Grayish-Blue);
}

.hero-content p{
    padding-inline: 34px;
    line-height: 26px;
    color: var(--Grayish-Blue);
    font-weight: 400;
}

.buttons{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.download{
    color: white;
    padding-block: 20px;
    padding-inline: 85px;
    border-radius: 40px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
}

.first-button{
    background-color: var(--Strong-Cyan);
    box-shadow: inset 0px -5px 0px 1px hsl(171deg 100% 28.81%);
}
.second-button{
    background-color: var(--Light-Blue);
    box-shadow: inset 0px -5px 0px 1px hsl(233deg 47.8% 49.65%);
}


.main-content{
    max-width: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 100px;
}

.head-para{
    padding-inline: 20px;
}

.part{
    width: 90%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
    text-align: center;
}

.title-color{
    color: var(--Dark-Grayish-Blue);
}
.para-color{
    color: var(--Grayish-Blue);
}

.computer-png{
    width: 100%;
    padding-block: 50px;
}

.track-features{
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    padding-inline: 20px;
}

.titles{
    padding-bottom: 0.6rem;
    font-size: 1.6rem;
}


.device-png{
    width: 100%;
    padding-block: 20px;
}

.pad-block > img{
    padding-block: 25px;
}

.access-part .para-color{
    width: 100%;
}

.companies-logos{
    display: flex;
    flex-direction: column;
    gap: 90px;
}